<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Good Food Hunting</title>
  <link href='http://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <div id="container">
    
  <%= yield %>
    
  </div>

</body>