
<article>
  <h2>Home on the Farm</h2>
    <p>Homer was born on May 12, 1955. He was raised on a farm by his parents, Mona and Abraham Simpson. In the mid-1960s, while Homer was between nine and twelve years old, Mona went into hiding following a run-in with the law.</p>
  
    <h2>Meeting Marge</h2>
    <p>Homer attended Springfield High School and fell in love with Marge Bouvier in 1974. Marge became pregnant with Bart in 1979, while Homer was working at a miniature golf course. The two were wed in a small wedding chapel across the state line. From there they spent their wedding reception alone at a truck stop, and the remainder of their wedding night at Marge's parents' house.</p>
    
    <h2>Sector 7-G</h2>
    <p>After failing to get a job at the Springfield Nuclear Power Plant, Homer left Marge to find a job by which he could support his family. He briefly worked at a taco restaurant called the Gulp n' Blow, until Marge found him and convinced him to return. As a result, Homer confronted Mr Burns and secured a job at the Plant.</p>
    <h2>Family Man</h2>
    <p>
    Marge became pregnant with Lisa in 1981, shortly before the new couple bought their first house. In 1985 and 1986, Homer saw brief success as the lead singer and songwriter for the barbershop quartet the Be Sharps, even winning a Grammy. During his time with the group, Homer was frequently absent from home, which put stress on his marriage. After the group broke up due to creative differences, Homer went back to Springfield to continue his old life. Sometime in the late 1980s, Homer and Marge carefully budgeted so Homer could have his dream job as a pin monkey in a bowling alley. Unfortunately for Homer, Marge became pregnant with Maggie shortly after he started his new job, and not being able to support his family, he went back to the Nuclear Plant.</p>
</article>