
<article>
  <h2>Get in Contact</h2>
    <p>742 Evergreen Terrace<br>Springfield, USA</p>
    <p>555-6258</p>
    <a class="email" href="mailto:chunkylover53@aol.com">chunkylover53@aol.com</a>
</article>