
<article>
  <h2>Random stuff I like...</h2>
  <img src="https://38.media.tumblr.com/a819f76c9958f88cede0efaead4f90e1/tumblr_npoj83LRXZ1ux6fmno1_500.gif">
  <img src="https://38.media.tumblr.com/tumblr_lhyk99rkwz1qb42o2o1_400.gif">
  <img src="http://i.imgur.com/l0aio1d.gif" alt="">
  <img src="http://33.media.tumblr.com/tumblr_lzpgquoekm1r00g1wo1_500.gif" alt="">
</article>