<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>My Folio</title>
</head>
<body>

  <header>

    <img class="avatar" src="homer_eating_donut2.jpg">
    <h1>Homer J Simpson</h1>
    <p class="title">Safety Inspector</p>
    <p class="title">Springfield Nuclear Power Plant</p>
    
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>

  </header>


  <%= yield %>
  
</body>
</html>